h5{
  padding-top:28px;
  font-size: 22px;
  color: #666;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background-color: white;
}
.fp-slidesNav{
  margin-top: 50px;
}

.img-phone {
  @media (min-width: 992px){
    width:100%;
  }
  @media (max-width: 991px){
    max-height: 400px;
    margin: 0 auto;
    display:block;
  }
  //margin-left: 3rem;
}

.section-3-container h3 {

  color: white;
  font-size: 50px;
  @media (min-width: 992px){
    margin-bottom: 4rem;
    text-align: right;
  }
  @media (max-width: 991px){
    margin-bottom: 1rem;
    text-align:center;
  }

}

.section-3-container p {
  color: white;
  opacity: 0.8;
  margin-left:20px;
}
.env-img {
  font-size: 300px!important;
  opacity: 0.1;
  margin: auto;
  color: white;
}
