h5{
  padding-top:28px;
  font-size: 22px;
  color: #666;
}

.section-4-container h5{
  //text-align: left;
  color: white;
  font-size: 50px;
  margin-bottom: 4rem;
}

.img-db {
  width: 300px;
  opacity: 0.5;
  margin: auto;
}