@import 'variables';
@import 'base';
@import 'section1.scss';
@import 'section2.scss';
@import 'section3.scss';
@import 'section4.scss';
@import 'footer.scss';

html{
  overflow-x: hidden!important;
  padding:0;
  margin:0;
}
body{
  overflow-x: hidden;
  width: 100%;
  padding:0;
  margin:0;
}
